{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="text-center">

    <h1 class="display-4 fw-bold">
        AI Resume Analyzer
    </h1>

    <p class="lead mt-3">
        Upload your resume and get an ATS score, skill analysis, and personalized improvement suggestions.
    </p>

    <div class="mt-4">

        <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg">
            Register
        </a>

        <a href="{{ url_for('login') }}" class="btn btn-success btn-lg ms-2">
            Login
        </a>

        <a href="{{ url_for('admin') }}" class="btn btn-dark btn-lg ms-2">
            Admin Login
        </a>

    </div>

</div>

{% endblock %}